[connections.snowflake]
account = "<snowflake-account>"
user = "<snowflake-user>"
password = "<snowflake-password>"
role = "ROLE_APP_STREAMLIT"
warehouse = "CRICKET_APP_WH"
database = "CRICKET_ANALYTICS"
schema = "SEM"
